body{
  background-color: #0f0214;
  margin: 0;
  padding: 0;
}


.basics-of-bitcoin .video-wrap-horizontal{
  display: flex;
  flex-direction: row;
  column-gap: 50px;
  padding: 20px 40px 20px 20px;
}

.basics-of-bitcoin .header img{
  transform: translate(0,25%);
  width: 45px;
  height: 45px;
  position: relative;
}

.flex-box{
    display: flex; 
    flex-direction: row; 
    margin-top: 40px;
}
 .neon-text{
 
  font-weight: 700;
  font-size: 4rem;
  text-shadow: -15px 5px 20px #ced0d3;
  letter-spacing: 0.05em;
  margin: 0 0 0 20px;
  padding: 0;
  color: #ff9108;
  text-shadow: 2px 2px 2px #FFB650, 
    4px 4px 2px #FFD662, 
    6px 6px 2px  #FF80BF, 
    8px 8px 2px #EF5097, 
    10px 10px 2px #6868AC, 
    12px 12px 2px #90B1E0;

  animation-name: example;
  animation-duration: 4s;


}

.basics-of-bitcoin{
  margin-left: 40px;
  margin-top: 20px;
}

.basics-of-bitcoin .header{
  color: white;
  font-size: 1.8rem;
  font-weight: 700;
  margin: 0 0 0 0;
}

.basics-of-bitcoin ul{
  color: white;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0 0 0;
  list-style: none;
  margin: 20px 0 0 0;
}

.basics-of-bitcoin ul li{
  margin-bottom: 15px;
}
.basics-of-bitcoin a{
    color: royalblue;
  }

.orange-highlight{
  color: orange;
}

#forewords{
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 70px;
}

#forewords .content{
    max-width: 70%;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: 700;
    text-align: center;
    color: white;
  }

#quote{

  border-top: 4px solid white;
  border-bottom: 4px solid white;
  margin: 15px 0 0 20px;
  width: 50%;
  font-size: 1.3rem;
  font-weight: 700;
  color: white;
}

@keyframes example {
  from{
    text-shadow: 0px 0px 0px #FFB650
  }
  to{
    text-shadow: 2px 2px 2px #FFB650, 
    4px 4px 2px #FFD662, 
    6px 6px 2px  #FF80BF, 
    8px 8px 2px #EF5097, 
    10px 10px 2px #6868AC, 
    12px 12px 2px #90B1E0;
  }
}
@media screen and (max-width: 767px) {
  body {
  
  }
  #quote{

    border-top: 2px solid white;
    border-bottom: 2px solid white;
    width: 80%;
    font-size: 1.1rem;

  }
  .basics-of-bitcoin{
    margin-left: 40px;
    margin-top: 20px;
    margin-right: 40px;
    border-right: none;
  }

  .basics-of-bitcoin .header{
    font-size: 1.4rem;
  }

  .basics-of-bitcoin a{
    color: royalblue;
  }

  #forewords:before{
    position: absolute;
    display: block;
    content: '. . .';
    width: 100px;
    font-size: 4rem;
    left: 50%;
    transform: translate(-50%,-100%);
    color: white;
  }

  #forewords:after{
    position: absolute;
    display: block;
    content: '';
    width: 30%;
    height: 2px;
    background-color: white;
    left: 50%;
    transform: translate(-50%,-100%);
  }
  #forewords{
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
    position: relative;
  }
  #forewords .content{
    font-size: 1.2rem;
    padding: 0;
    width: 100%;
    color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%,0);
  }

  .basics-of-bitcoin ul{
    font-size: 1.2rem;
    margin: 10px 0 0 0;
  }

  .flex-box{
    flex-direction: column-reverse; 
    margin-top: 40px;
    justify-content: center;
  }
  .basics-of-bitcoin .header img{
    transform: translate(0,25%);
    width: 30px;
    height: 30px;
    position: relative;
  }

  .basics-of-bitcoin .video-wrap-horizontal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 25px;
    padding: 0;
    margin-top: 20px;
  }

  .basics-of-bitcoin .video-wrap-horizontal iframe{
    width: 200px;
    height: 90px;
  }

}